<!DOCTYPE html>

<html>
<meta name = "viewport"
content = "width = device-width, initial-scale = 1.0">

    <head>
        <title>Spare Change Counter</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.css">
    </head>

    <body>
        <div class="container">
            <center>
                <h1 class="text-success">
                </h1>
            </center>
            <nav class="nav nav-pills nav-fill rounded-pill" style="background-color:black;font-weight: bold;
            color: rgb(255, 255, 0);margin-bottom: 10%; margin-left: 5%;margin-right: 5%; margin-bottom: 10%;
            size:15%;contain:content;padding:10px;">
                <a class="nav-item -nav-link"style="font-size:20px;" href="#">Home</a>
                <a class="nav-item nav-link"style="font-size:20px;" href="#">Guidelines</a>
                <a class="nav-item nav-link"style="font-size:20px;" href="#">Contact</a>
                <a class="nav-item nav-link"style="font-size:20px;" href="static/model_viewer.png">Model</a>
            </nav>
        </div>

    <Body>
        <style>
        body{
            background-image:
        url('/static/Bckgrd1.jpg');
            background-size: cover; margin-top: 13%;
            background-repeat:no-repeat;
        }
        </style>

        <h1 class="text-center rounded-pill" style="color:yellow;font-size:60px ;background-color:black;
        border-style:ridge ;background-size:65px ;margin-left:10% ;margin-right:10% ;
        margin-bottom:5%;padding:15px;" >ChangeCounter</h1>

        <form class="ps-3 text-center" action="/", method="post" enctype="multipart/form-data" style="text-shadow: fuchsia;">
            <input class="form-control" type="file" name="img_file" style="box-shadow:inset;font-size:20px; ">
            <input class="btn btn-warning mt-3" style="size:16px ;margin-top:10%;
            padding:8px;" type="submit" value="Get Amount ----> $$$">
        </form>

        {% if output %}
            <p class="text-center rounded-pill" style="font-size: xx-large;color: cyan;
            font-weight: bold;background-color: rgb(43, 43, 43);margin-top: 4%;margin-left: 8%;margin-right: 8%;"
            > Spare change amount is ${{output}}</p>
        {% endif %}
    </body>
</html>


